// colours

$orange: #ff8039;
$royal-blue: #0007a3;
$white: #ffffff;
$dark-blue: #25215f;
$light-blue: #7ba2ff;
$medium-blue: #0071de;
$smoke: #f1f1f1;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// layout
$mainPaddingTop: 15px;
$mainPaddingBottom: 30px;
$mainPaddingSides: 10px;
$mainPaddingSidesSecondary: 35px;
$mainPadding: $mainPaddingTop $mainPaddingSides $mainPaddingBottom;

$mainPaddingTopTablet: 35px;
$mainPaddingBottomTablet: 40px;
$mainPaddingSidesTablet: 75px;
$mainPaddingTablet: $mainPaddingTopTablet $mainPaddingSidesTablet
  $mainPaddingBottomTablet;

$mainPaddingTopDesktop: 60px;
$mainPaddingBottomDesktop: 70px;
$mainPaddingSidesDesktop: 135px;
$mainPaddingDesktop: $mainPaddingTopDesktop $mainPaddingSidesDesktop
  $mainPaddingBottomDesktop;

$mainMaxWidth: 1170px;
