// colours

$orange: #ff8039;
$royal-blue: #0007a3;
$white: #ffffff;
$dark-blue: #25215f;
$light-blue: #7ba2ff;
$medium-blue: #0071de;
$smoke: #f1f1f1;

// breakpoints
$MobileMaxWidth: 768px;
$TabletMaxWidth: 1024px;
