$headerHeight: 56px;
$headerHeightTablet: 70px;
$headerHeightDesktop: 100px;

header#header-style-1 {
  height: $headerHeight;

  @include respond-to(tablet) {
    height: $headerHeightTablet;
  }

  @include respond-to(desktop) {
    height: $headerHeightDesktop;
  }

  .torque-header-content-wrapper {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    padding: 10px $mainPaddingSides;
    width: 100%;
    max-width: $mainMaxWidth + $mainPaddingSidesDesktop * 2;

    @include respond-to(desktop) {
      padding: 20px $mainPaddingSidesDesktop;
    }

    .torque-header-logo-wrapper {
      div {
        width: 100%;
      }
    }

    .torque-header-burger-menu-wrapper {
      @include respond-to(desktop) {
        display: none;
      }

      .torque-burger-menu-line {
        background-color: $white;
      }
    }

    .torque-header-menu-items-inline-wrapper {
      position: relative;
      height: 100%;

      .torque-menu-items-inline {
        // all this keeps our inline menu items
        // in between the logo and side of the header area
        // while leaving a 10% padding to the left
        display: inline-block;
        position: absolute;
        right: 45%;
        top: 50%;
        transform: translate(50%, -50%);
        width: 90%;
        text-align: center;

        .torque-menu-item {
          @extend %nav-bar-link;
          padding: 0 17px;
          text-transform: uppercase;
        }
      }

      @include respond-to-max(desktop) {
        display: none;
      }
    }
  }

  .torque-header-menu-items-mobile,
  .torque-header-menu-items-mobile.active {
    z-index: 50;
    padding: $headerHeight $mainPaddingSides 15px $mainPaddingSides;
    background-color: $royal-blue;

    @include respond-to(tablet) {
      padding-bottom: 20px;
    }

    @include respond-to(desktop) {
      display: none;
    }

    .torque-menu-item {
      @extend %nav-menu-link;
      padding: 15px 0px;
      text-transform: uppercase;

      @include respond-to(tablet) {
        padding: 20px 0px;
      }
    }
  }
}
