// Jost
@font-face {
  font-family: Jost;
  src: url("../statics/fonts/Jost/OpenType/Jost-400-Book.otf")
      format("opentype"),
    url("../statics/fonts/Jost/TrueType/Jost-400-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  src: url("../statics/fonts/Jost/OpenType/Jost-500-Medium.otf")
      format("opentype"),
    url("../statics/fonts/Jost/TrueType/Jost-500-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

$Montserrat: 'Montserrat', sans-serif;
$Jost: "Jost";
