.s222-loop-post {
  position: relative;
  padding: 0;
  padding-bottom: 20px;

  &:last-child {
    margin-bottom: -($mainPaddingBottom);
  }

  @include respond-to(tablet) {
    margin-left: -($mainPaddingSidesTablet - $mainPaddingSides);
    margin-right: -($mainPaddingSidesTablet - $mainPaddingSides);
    padding-bottom: 30px;

    &:last-child {
      margin-bottom: -($mainPaddingBottomTablet);
    }
  }

  @include respond-to(desktop) {
    margin-left: -($mainPaddingSidesDesktop);
    margin-right: -($mainPaddingSidesDesktop);
    padding-bottom: 0px;

    &:last-child {
      margin-bottom: -($mainPaddingBottomDesktop);
    }
  }

  .loop-post-section-image {
    @include respond-to(desktop) {
      display: none;
    }
  }

  .loop-post-section-image-desktop {
    @include respond-to-max(desktop) {
      display: none;
    }

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 63%;
    background-size: cover;
  }

  .loop-post-content-wrapper {
    padding: 0px 25px 20px;
    background-color: $smoke;

    @include respond-to(tablet) {
      padding: 0px $mainPaddingSidesTablet $mainPaddingBottomTablet;
    }

    @include respond-to(desktop) {
      padding: 50px 70% ($mainPaddingBottomDesktop + 10px)
        $mainPaddingSidesDesktop;
    }

    h3 {
      text-transform: uppercase;

      @include respond-to(desktop) {
        margin-bottom: 60px;
      }
    }

    .footer-cta-content {
      max-width: 420px;
    }

    button {
      margin-top: 10px;
      text-transform: uppercase;

      @include respond-to(tablet) {
        margin-top: 40px;
      }

      @include respond-to(desktop) {
        margin-top: 80px;
      }
    }
  }

  // make every second one align the opposite way
  &:nth-child(even) {
    .loop-post-section-image-desktop {
      left: 0;
    }

    .loop-post-content-wrapper {
      @include respond-to(tablet) {
        padding: 0px $mainPaddingSidesTablet $mainPaddingBottomTablet;
      }

      @include respond-to(desktop) {
        padding: 50px $mainPaddingSidesDesktop
          ($mainPaddingBottomDesktop + 10px) 70%;
      }
    }
  }
}
