button {
  border: none;
  padding: 0;
  font-family: $Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0.7px;
  background-color: transparent;
  color: $light-blue;
  outline-color: $light-blue;
  cursor: pointer;

  @include respond-to(tablet) {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.8px;
  }

  &.filter-button {
    border: 1px solid $royal-blue;
    padding: 10px 10px;
    line-height: 1;
    text-transform: uppercase;
    color: $royal-blue;

    &.active {
      border-color: $orange;
      color: $orange;
    }
  }
}

.form-message {
  margin-bottom: 10px;

  &.error {
    color: darkred;
  }
}

label {
  display: block;
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}

%inputStyle {
  width: 100%;
  height: 43px;
  background-color: $white;
  border: solid 1px #060100;
  font: inherit;
  text-align: left;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  @extend %inputStyle;
}

textarea {
  height: 123px;
}

// clicking a label also opens the file browser,
// so since it's so difficult to style the input element
// it's much easier to just hide that and instead style a label which does the same thing
.file-picker {
  height: 110px;
  text-align: left;

  // styles the actual label
  label.file-picker-label {
    width: 100%;
    text-align: left;
  }

  // styles the label that will act as the file picker
  label.custom-file-picker {
    @extend %inputStyle;
    padding: 11px 10px 0px;
    text-transform: none;
    color: $medium-blue;
    overflow-x: hidden;

    @include respond-to(tablet) {
      width: 250px;
    }
  }

  input[type="file"] {
    // we want to make the input invisible but we cant use display none
    // since then we wouldnt get the data in the post request
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
