@import "partials/variables";

@import "grid";

@import "typography/typography";

@import "elements";
@import "elements/pagination";

@import "page";

@import "plugins/torque-gallery";

@import "parts/templates/loop-post";
@import "parts/templates/loop-team";
@import "parts/shared/footer";
@import "parts/shared/footer-cta-section";
@import "parts/shared/footer-cta-section-secondary";
@import "parts/shared/header-templates/header-style-1";
@import "parts/templates/titles/title-area";

main {
  margin: 0 auto;
  padding: $mainPadding;
  width: 100%;
  max-width: $mainMaxWidth + $mainPaddingSidesDesktop * 2;
  box-sizing: border-box;

  @include respond-to(tablet) {
    padding: $mainPaddingTablet;
  }

  @include respond-to(desktop) {
    padding: $mainPaddingDesktop;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }
}
