footer#footer {
  background-color: $dark-blue;

  .footer-content-wrapper {
    margin: 0 auto;
    padding: 30px $mainPaddingSidesSecondary;
    width: 100%;
    max-width: $mainMaxWidth + $mainPaddingSidesDesktop * 2;
    box-sizing: border-box;

    @include respond-to(tablet) {
      padding: 40px $mainPaddingSidesTablet 50px;
    }

    @include respond-to(desktop) {
      padding: 45px $mainPaddingSidesDesktop 70px;
    }
  }

  .hide-tablet {
    @include respond-to(tablet) {
      display: none;
    }

    @include respond-to(desktop) {
      display: block;
    }
  }

  .show-tablet {
    display: none;

    @include respond-to(tablet) {
      display: block;
    }

    @include respond-to(desktop) {
      display: none;
    }
  }

  .footer-content-wrapper {
    .s222-footer-col {
      clear: unset;
      padding-bottom: 25px;

      @include respond-to(tablet) {
        padding-bottom: 0;
        padding-right: 40px;

        // for the footer column 3 that comes into this column on tablet
        .sidebar-footer-col:first-child {
          padding-bottom: 30px;
        }
      }

      @include respond-to(desktop) {
        padding-right: 80px;

        .sidebar-footer-col:first-child {
          padding-bottom: 0px;
        }
      }

      img {
        max-width: 100%;
        object-fit: contain;
      }

      p {
        margin-top: 0px;
        margin-bottom: 3px;
      }

      button {
        margin: 10px 0;
      }
    }
  }
}
